
            .body{
                background-color: rgb(35, 36, 33);
            }
            .btn{
                background-color: crimson;
                border-radius: 10px;
                padding: 9px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: 900;
                /* border: 20px; */
                border-color: black;

            }
            .btn:hover{
                cursor: pointer;
                background-color: goldenrod;
                box-shadow: 0 10px 32px 0 rgb(231, 6, 235);
            }
            .question{
                margin: 10px auto;
                width: 50%;
                padding: 5px;
                border-radius: 10px;
                border:solid 2px black;
                text-align: center;
                background-color: rgb(182, 243, 91);
                display: none;
            }
            .question:hover{
                box-shadow: 0 10px 32px 0 yellow;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            .ansDiv{
                background-color: crimson;
                visibility: hidden;
                padding: 5px;
                border-radius: 50px;
               
            }
            .buttons{
                visibility: hidden;
                padding: 20px;
             }
             .buqq:hover{
                box-shadow: 0 16px 32px 0 yellow;
                background-color: crimson;
             }
             .finalbtn{
                /* background-color: rgb(224, 9, 253); */
                border-radius: 10px;
                padding: 9px;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-weight: 900;
             }
             .finalbtn:hover{
                box-shadow: 0 16px 32px 0 rgb(224, 9, 253);
                background-color: yellow;
             }

        